body {
    font-family: open sans;
  }
  header {
    font-size: 1.9rem;
    font-weight: 500;
    padding-bottom:10px;
    display:block;
  }
  
  .title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  code {
    display: block;
    text-align: left;
    background-color: lavender;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
  }